name: JMH Benchmark

on:
  workflow_dispatch:      
permissions:
  contents: read
jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del codice
      uses: actions/checkout@v4

    - name: Setup JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build con Maven
      working-directory: integrationjavafx4/pidevjavaFx/roar
      run: mvn clean package -DskipTests



    - name: Esegui JMH Benchmark
      working-directory: integrationjavafx4/pidevjavaFx/roar
      run: |
        java -jar target/CliniCare.jar -rf json -rff result.json
      

    - name: Upload dei risultati
      uses: actions/upload-artifact@v4
      with:
        name: jmh-results
        path: integrationjavafx4/pidevjavaFx/roar/result.json
