name: OpenJML Formal Verification

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  verify:
    runs-on: ubuntu-22.04


    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Download and Install OpenJML
      run: |
        wget https://github.com/OpenJML/OpenJML/releases/download/0.17.0-alpha-15/openjml-ubuntu-17-0.17.0-alpha-15.zip -O openjml.zip
        unzip openjml.zip -d openjml-tool
        chmod +x openjml-tool/openjml
        
    - name: Generate Classpath
      run: mvn dependency:build-classpath -Dmdep.outputFile=cp.txt

    - name: Run OpenJML Check
      working-directory: integrationjavafx4/pidevjavaFx/roar
      run: |
        ./openjml-tool/openjml -cp "$(cat cp.txt)" --dirs ./src/main/java/entite ./src/main/java/util ./src/main/java/service
