name: maven-build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Build package
      working-directory: ./integrationjavafx4/pidevjavaFx/roar
      run: mvn -B clean package 
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      if: success() 
      with:
        name: roar-app-build
        path: integrationjavafx4/pidevjavaFx/roar/target/CliniCare.jar


  docker-push:
    needs: build  
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    
    steps:
      - uses: actions/checkout@v4

    
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: roar-app-artifact
          path: integrationjavafx4/pidevjavaFx/roar

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: integrationjavafx4/pidevjavaFx/roar
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/clinicare:latest
